* {
  box-sizing: border-box;
  overflow-wrap: anywhere;
}

html {
  background-color: #ffffff;
  font-family: Inter, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  --lineColor1: #79cfd9;
  --lineColor2: #b0bec5;
}

body {
  margin: 0;
}

.flex {
  display: flex;
  width: 100vw;
}

#sidebar {
  flex-shrink: 0;
  width: 248px;
  border-right: 1px solid var(--lineColor1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
  background: #ffffff;
}

#sidebar.gone {
  width: 0px;
  margin-left: -1px;
}

#sidebar-inner {
  width: 247px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#close-apps {
  display: none;
}

@media screen and (max-width: 400px) {
  #close-apps {
    display: block;
  }

  #sidebar {
    position: absolute;
    top: 0;
    right: 0vw;
    bottom: 0;
    left: 0;
    width: unset;
    border: none;
    transition: right 0.3s ease-in-out;
    box-shadow: -5px 0 10px 0 black;
    z-index: 100;
  }

  #sidebar-inner {
    width: 100vw;
  }

  #sidebar.gone {
    width: unset;
    margin: 0;
    right: 100vw;
    transition: right 0.3s ease-in-out;
  }
}

#connecting {
  padding: 0 0.5rem;
  animation: 1s infinite alternate ease-in-out loading-color;
}

@keyframes loading-color {
  from {
    color: black;
  }
  to {
    color: var(--lineColor1);
  }
}

#connecting p {
  margin: 0.5rem 0;
}

#connecting .muted {
  color: rgba(0,0,0,0);
}

.waited #connecting .muted {
  color: rgba(0, 0, 0, 0.4);
}

.muted {
  color: rgba(0, 0, 0, 0.4);
}

.main {
  flex-grow: 1;
}

.bar {
  border-bottom: 1px solid var(--lineColor1);
  border-radius: 0;
  padding: 0.5rem;
  background: #e0f7fa;
  background: #79cfd9;
  display: flex;
  justify-content: space-between;
  height: 45px;
  line-height: 28px;
}

.bar h1 {
  display: block;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

#title-ext {
  font-weight: 500;
}

.icons {
  display: flex;
}

.icons button {
  margin: 0 2px;
  padding: 6px;
  border: none;
  border-radius: 50%;
  height: 28px;
  background-color: rgba(0,0,0,0.027450980392156863);
}

.icons button:hover {
  background-color: rgba(0,0,0,0.13333333333333334);
}

.icons button svg {
  display: block;
  height: 16px;
  width: 16px;
}

.svghover .onhover {
  display: none;
}

.svghover:hover path {
  display: none;
}

.svghover:hover .onhover {
  display: unset;
}

#info {
  transition: all 0.5s ease-in-out;
  max-height: 90vh;
  overflow-y: auto;
  padding: 0.5rem;
}

.hidden {
  display: none;
}

#info.hidden {
  max-height: 0 !important;
  border: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;
}

#outer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
}

#inner {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 1;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  box-shadow: 4px 4px 12px -8px black;
}

#inner * {
  margin: 0.2rem;
}

#inner .main {
  overflow: auto;
  background: lightgray;
  max-width: 100%;
  flex: 1;
}

.modal-open {
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw;
}

app-selector {
  display: flex;
  flex-direction: column;
  flex: 0 auto;
  max-height: calc(100vh - 45px);
}

.main {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  min-width: 45px;
  overflow: hidden;
}

#view {
  overflow: auto;
}
