* {
  box-sizing: border-box;
  overflow-wrap: anywhere;
}

html {
  background-color: #ffffff;
  font-family: 'Arial Narrow Bold', sans-serif;
  --lineColor1: #00838f;
  --lineColor2: #b0bec5;
}

body {
  margin: 0;
}

#bar {
  border-bottom: 1px solid var(--lineColor1);
  border-radius: 0;
  padding: 0.5rem;
  background: #e0f7fa;
  display: flex;
  justify-content: space-between;
}

#bar h1 {
  display: block;
  font-size: 1rem;
  margin: 0;
  padding: 0 0.5rem;
}

#icons {
  display: flex;
}

#icons button {
  border: none;
  background: none;
  margin: 0;
  padding: 0 0.5rem;
}

#icons svg {
  height: 1rem;
  display: block;
}

#info {
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid var(--lineColor1);
  max-height: 90vh;
  overflow-y: auto;
}


.block {
  border: 1px solid var(--lineColor2);
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.notice {
  border-color: var(--lineColor1);
  background: #e0f7fa;
}


.hidden {
  max-height: 0 !important;
  border: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;
}

#outer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
}

#inner {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  opacity: 1;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

#inner * {
  margin: 0.2rem;
}

#inner .main {
  overflow: auto;
  background: lightgray;
  max-width: 100%;
  flex: 1;
}


.modal-open {
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw;
}

